torch
torchvision
numpy>=2.0
scikit-learn>=1.4.0
opencv-python
pillow
matplotlib
tqdm
mmengine==0.10.7
mmpose==1.3.2
mmcv @ git+https://github.com/open-mmlab/mmcv.git@57c4e25e06e2d4f8a9357c84bcd24089a284dc88
pycocotools
shapely
yapf
terminaltables
ninja
Cython
requests
PyYAML
Flask
flask-cors
